# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Digital Cypherfunk Client
Exec=electrum %u
GenericName[en_US]=Electrum Digital Cypherfunk
GenericName=Electrum
Icon=electrum
Name[en_US]=Electrum Digital Cypherfunk Wallet
Name=Electrum Digital Cypherfunk Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;

